.dialog {
    color: white;
    display: inline;
}

@media screen and (max-width: 850px) {
    .name {
        display: none;
    }
}

.dialog .active {
    color: gold;
}

.dialog .img {
    max-width: 50px;
    overflow: hidden;
    border-radius: 40px;
    padding-right: 10px;
    padding-left: 10px;
}