.nav {
    grid-area: n;
    background-color: darkgoldenrod;
    padding: 20px;
}

.item a {
    color: black;
    text-decoration: none;
}
.item a:hover{
    color: white;
}

.item a.activeLink{
    color: gold;
}

.item{
    padding: 5px;
}

.space{
    height: 50px;
}

