.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogItems {
    background-color: transparent;
    padding: 10px;
    color: black;
    text-decoration: none;
}

.dialogItems .active {
    color: gold;
}


.messages {
    min-width: 300px;
    padding: 10px;
    color: black;
}

.textArea {
    display: grid;
    grid-template-columns: 1fr 60fr;
    grid-auto-flow: row;
}

